body {
  font-family: Helvetica, Arial;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #283944;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map {
  flex: 1;
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: #e6e4d5;
  font-size: 26px;
}

.header__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__details-item {
  display: flex;
  justify-content: center;
  min-width: 250px;
}

.header__details-action {
  font-size: 18px;
  color: #ddd;
}

.header__details-logo {
  max-height: 40px;
}

.btn-link {
  transition-duration: .2s;
}

.btn-link:focus {
  color: #fff;
  outline: none;
  background: none;
  text-decoration: none;
  background-color: transparent;
}

.btn-link:hover {
  color: #168a89;
  outline: none;
  background: none;
  text-decoration: none;
  background-color: transparent;
}


.about-footer-logo{
  background: #283944;
  float: left;
}

.about-footer-btn{
  margin-top: 15px;
}

.leaflet-control.geocoder-control {
  clear: none;
}

/* Horizontal Media Queries */
@media (min-width: 600px) {
  .header__details-action {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .header__title {
    font-size: 22px;
  }
  .header {
    padding: 10px;
  }
}

