body {
  font-family: 'PT Serif', serif;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #283944;
}

.header {
  /* height: 50px; */
  width: 100%;
  background-color: #283944;
  color: #fff;
}

.map {
  height: 90vh;
  width: 100%;
}

.logo {
  width: 100px;
}

.container-override {
  padding: 5vh;
  height: 10vh;
}

.container-heading {
  padding-right: 0px;
}

.container-logo {
  margin: 10px 0px;
}

.main-header {
  margin-top: 10px;
  font-size: 20px;
}

@media (min-width: 300px) {
  .container-heading {
    padding-right: 15px;
  }
  .container-logo {
    margin-top: 9px;
  }
  .logo {
    width: 120px;
  }
}

@media (min-width: 405px) {
  .main-header {
    font-size: 26px;
  }
  .container-override {
    padding: 0px 15px;
  }
  .container-logo {
    margin-top: 7px;
  }
  .logo {
    width: 145px;
  }
}

@media (min-width: 475px) {
  .main-header {
    font-size: 30px;
  }
  .container-override {
    padding: 0px 15px 0px;
  }
  .container-logo {
    margin-bottom: 6px;
  }
  .logo {
    width: 200px;
  }
}